* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A8BCB;
}

html {
    height: 100vh;
}

.title h3 {
    font-size: 60px;
}

.body p {
    font-size: 25px;
}

.icon i {
    font-size: 300px;
    color: #fff;
}

.icon-social i {
    font-size: 30px;
    color: #fff;
    padding: 1rem;
}


.features-shape-1 {
    position: absolute;
    left: 240px;
    top: 240px;
    z-index: -1;
    -webkit-animation: linear 20s animationFramesThree infinite;
    animation: linear 20s animationFramesThree infinite;
}

.features-shape-2 {
    position: absolute;
    right: 190px;
    top: 160px;
    z-index: -1;
    -webkit-animation: linear 20s animationFramesFive infinite;
    animation: linear 20s animationFramesFive infinite;
}

.features-shape-3 {
    position: absolute;
    right: 160px;
    bottom: 260px;
    z-index: -1;
    -webkit-animation: linear 20s animationFramesOne infinite;
    animation: linear 20s animationFramesOne infinite;
}


@keyframes animationFramesThree {
    0% {
        transform: translate(165px, -179px);
    }

    100% {
        transform: translate(-346px, 617px);
    }
}

@keyframes animationFramesFive {
    0% {
        transform: translate(61px, -99px) rotate(0deg);
    }

    21% {
        transform: translate(4px, -190px) rotate(38deg);
    }

    41% {
        transform: translate(-139px, -200px) rotate(74deg);
    }

    60% {
        transform: translate(-263px, -164px) rotate(108deg);
    }

    80% {
        transform: translate(-195px, -49px) rotate(144deg);
    }

    100% {
        transform: translate(-1px, 0px) rotate(180deg);
    }
}

@keyframes animationFramesOne {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    20% {
        transform: translate(73px, -1px) rotate(36deg);
    }

    40% {
        transform: translate(141px, 72px) rotate(72deg);
    }

    60% {
        transform: translate(83px, 122px) rotate(108deg);
    }

    80% {
        transform: translate(-40px, 72px) rotate(144deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}